<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>573552432447-pljjurpu76o59rv191bjsuavd6kcvntl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.573552432447-pljjurpu76o59rv191bjsuavd6kcvntl</string>
	<key>API_KEY</key>
	<string>AIzaSyB-MSMVeZmpBsqj6iNuJAka_joZATL966A</string>
	<key>GCM_SENDER_ID</key>
	<string>573552432447</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blast.video</string>
	<key>PROJECT_ID</key>
	<string>blastvideo-4c71e</string>
	<key>STORAGE_BUCKET</key>
	<string>blastvideo-4c71e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573552432447:ios:44ce934888c87aa6</string>
	<key>DATABASE_URL</key>
	<string>https://blastvideo-4c71e.firebaseio.com</string>
</dict>
</plist>